
.skillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    width:100%;
    background:#eee;
    height:35px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    width:110px;
    font-weight:bold;
    font-size:13px;
    color:#ffffff;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:35px;
    line-height:35px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height:35px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.skill-bar-label {
    position:absolute;
    color:white;
    left:120px;
    top:0;
    font-size:13px;
    height:35px;
    line-height:35px;
}

a{
    color: red;
}
a:hover{
    color: lightcoral;
}
a:visited{
    color:white;
}
a.covert{
    color:white;
}
a.covert:hover{
    color:white;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-decoration:none;
    text-shadow: 1px 0px 20px white;
}

a.tab{
    color: #d7cdd2;
}
body {
    background-image: url("../images/topography.png");
    background-attachment: fixed;
    font: 400 18px Open Sans, sans-serif;
    width: 100%;
    line-height: 25px;
}
p{
    text-align: left;
    color: #1d1d1d;
}
strong{
    font-size: 20px;
}
#details li{background:url('../images/topo-white.png') no-repeat 0 4px;list-style:inside none;padding:0 0 0 20px;}
p.black{
    color: black;
}
h1{
    text-align: center;
    font-family: 'Eb Garamond', sans-serif;
    color: black;
}
h1.icon{
    font-size: 70px;
}
h2 {
    font-size: 35px;
    font-family: Comfortaa, sans-serif;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
h2.tight {
    font-size: 35px;

    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0px;
}
h3{
    font-size: 30px;
    font-family: Lato, sans-serif;
    color: #322f32
}
h2.white{
    color: white;
}
h4 {
    font-size: 16px;
    line-height: 1.375em;
    color: whitesmoke;
    font-weight: 400;
    margin-bottom: 5px;
}
h4.black{
    color: black;
}
h4.center{
    text-align: center;
}
.container.grey{
    background-image: url("../images/topo-grey.png");
    background-attachment: fixed;
}
.container.white{
    background-image: url("../images/topo-white.png");
    background-attachment: fixed;
    color: black;
}
.container.black {
    color:white;
}
.container.white.offwhite{
    background-image: url("../images/topo-off-white.png");
}
.container.blue{
    background-image: url("../images/topo-blue.png");
    background-attachment: fixed;
    color: white;
}
.container-fluid{
    width: 100%;
    max-width: 1024px;
    padding-bottom: 10px;
}
.left{
    text-align: left;
}
.center{
    text-align:center;
}
.ul{
    list-style-type: square;
}
.container-fluid.container-transparent-b{
    background: transparent;
}
container-fluid.container-transparent-w{
    background: transparent;
    color: white;
}
.row-lg-8{
    text-align: left;
}
.rpi{
    animation: pulse 3s infinite;
    animation-direction: alternate;
}
.rpi:hover{
    text-underline: red;
}
/* Dropdown Button */
.white{
    color: white;
}
.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: white;
    transition-property: background-color, color;
    background-color: black;
    border-color: rgba(255,255,255,0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.btn:hover {
    color:white;
    background-color:gray;
}
.btn-block{
    width: 300px;
}
.btn-lg {
    text-align: center;
    background: black;
    width: 100%;
    color: white;
    margin-bottom: 35px;
}
.btn-lg:hover{
    background: #41403f;
    color: white;
}
.btn-default{
    background-color: white;
}
.btn-round-lg{
    background: #bdb7bc;
    font-size: 16px;
    border-radius: 10px;
    display:inline-block;
    margin-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}
.btn-round-lg:hover{
    background: #fff;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.card{
    background:white;
    border-radius:10px;
    margin:10px;
    display:inline-block;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.crop{
    width:100%;
    height:200px;
    overflow:hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.crop img{
    width: 100%;
    position:relative;
    top:-100px;
}
.custom-dropdown{
    background:white;
    border-radius:5px;
    width:100%;
    position:absolute;
    margin-left: -15px;
    top:-5px;
    height:40px;
    font-weight:bold;
}
.custom-dropdown-contents {
    position: absolute;
    font-size:16px;
    top: 40px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    top:-50px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    line-height: 20px;
    padding: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
@keyframes pulse{
    0% {
        color: red;
    }
    100%{
        color: #ff6964;
    }
}
#contact{

}
.container{
    width: 100%;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}
.jumbotron{
    background-color: transparent;
    position:fixed;
    max-width: 900px;
    margin-top: 20vh;
    font-family:Comfortaa, sans-serif;
    color: white;
}
h1.jumbo{
    text-align:center;
    font-size:80px; !important;
}
h1.muted{
    padding:0px;
    font-size:50px;
    color: #2a272a;
}
i{
    font-size:75px;
    color:white;
}

.container-fluid .project {
    margin-bottom:20px;
    border-radius:3px;
    background-color:white;
    box-shadow: 0px 0px 0px black;
    -webkit-transition:  box-shadow .6s ease-out;
    box-shadow: .8px .9px 7px black;
}
.project:hover{

    box-shadow: 7px 8px 20px black;
    -webkit-transition:  box-shadow .6s ease-in;
}
#marketplace{
    background: url(../images/djangomarketplace.png) no-repeat;
    background-size: cover;
}
#microfossils{
    background: url(../images/microfossils.png);
    background-size: contain;
}
.project-left{
    padding:0;
    margin:0;
    height:200px;
}

.project-right{
    width:65%;
    margin-left:37%;
    background:white;
    padding:10px;
    margin-right:-10%;
    margin-bottom:-10px;
}

.col-sm-4{
    text-align: left;
}
.cycle {
    color:white;
    display:inline;
}

.left-half {
    position: absolute;
    width: 50%;
    text-align:right;
}
.right-half {
    text-align:left;
    right: 0px;
    position: absolute;
    width: 50%;
}
.left-half.title {
    width: 45%;
    height: 100%;
    margin-left:5%;
}
.right-half.title {
    width: 55%;
    height: 100%;
}
img.icon {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
    display: block;
    margin-right: 15px;
    margin-top: 5px;
    background-color: #fff;
    opacity: 0.8;
    z-index: 0;
}
.content {
    position: relative;
    z-index: 2;
    background-color: transparent;
    margin-top: 480px;
    width: 100%;
}
li.skill.edu{
    color:lime;
    font-size:35px;
    position:relative;
    left:-10px;
}
li.skill span{
    color:white;
    font-size:18px;
    position:relative;
    top:-5px;
    left:-15px;
}
.nav-tabs{
    font-size:60px;
}
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar {
    margin-bottom: 0;
    background-color: black;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000000 !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.tab-pane{
    padding:30px;
    background:white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
@media (min-width: 900px) {
    h1.jumbo{
        text-align:left;
        font-size:100px; !important;
    }

    .col-sm-4 {
        margin: 25px 0;
        text-align: center;
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }

    .slideanim {
        visibility: hidden;
    }

    h4 {
        font-size: 20px;
    }

    .slide {
        animation-name: slide;
        -webkit-animation-name: slide;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        visibility: visible;
    }

    @keyframes slide {
        0% {
            opacity: 0;
            transform: translateX(-10%);
        }
        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }
    @-webkit-keyframes slide {
        0% {
            opacity: 0;
            -webkit-transform: translateX(-10%);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateX(0%);
        }
    }
}
